################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcMovie/.vs/MvcProduct/v15/Server/sqlite3
