@model GestionCanchaFutbol.Models.Reserva

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cancha" class="control-label"></label>
                <input asp-for="Cancha" class="form-control" />
                <span asp-validation-for="Cancha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoParcial" class="control-label"></label>
                <input asp-for="PagoParcial" class="form-control" />
                <span asp-validation-for="PagoParcial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaReserva" class="control-label"></label>
                <input asp-for="DiaReserva" class="form-control" />
                <span asp-validation-for="DiaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
